<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/default.css" />
    <title>Translators</title>
  </head>
  <body>
    <header>
      <div id="header-logo">
        <div id="main-logo-no-bg"></div>
        <div id="main-logo-text">Translators</div>
      </div>
      <img src="../public/styles/icons/icon-settings.svg" id="icon-settings" />
    </header>
    <main>
      hello!
      <section></section>
      <section></section>
    </main>
    <footer></footer>
  </body>
</html>
