<div class="tool-dropdown">
  <div id="Google-Translator" class="translator-option">Google Translator</div>
  <div id="Papago" class="translator-option">Papago</div>
  <div id="DeepL" class="translator-option">DeepL</div>
</div>
