<div class="lang-dropdown">
  <div id="English" class="language-option">English</div>
  <div id="Spanish" class="language-option">Spanish</div>
  <div id="French" class="language-option">French</div>
  <div id="Chinese" class="language-option">Chinese</div>
  <div id="Korean" class="language-option">Korean</div>
  <div id="Japanese" class="language-option">Japanese</div>
  <div id="German" class="language-option">German</div>
</div>
