<div class="lang-dropdown">
  <div id="English">English</div>
  <div id="Spanish">Spanish</div>
  <div id="French">French</div>
  <div id="Chinese">Chinese</div>
  <div id="Korean">Korean</div>
  <div id="Japanese">Japanese</div>
  <div id="German">German</div>
</div>
