<header>
  <div id="header-nav">
    <div id="header-logo">
      <img src="../public/styles/icons/logo.png" id="header-logo-no-bg" />
      <div id="header-logo-text">Translators</div>
    </div>
    <img src="../public/styles/icons/icon-settings.svg" id="icon-settings" />
  </div>
</header>
