<svg
  class="icon-func"
  id="icon-copy"
  xmlns="http://www.w3.org/2000/svg"
  width="30"
  height="30"
  viewBox="0 0 30 30"
  fill="none"
>
  <path
    d="M22.5 2.5H11.25C9.875 2.5 8.75 3.625 8.75 5V20C8.75 21.375 9.875 22.5 11.25 22.5H22.5C23.875 22.5 25 21.375 25 20V5C25 3.625 23.875 2.5 22.5 2.5ZM22.5 20H11.25V5H22.5V20ZM3.75 18.75V16.25H6.25V18.75H3.75ZM3.75 11.875H6.25V14.375H3.75V11.875ZM12.5 25H15V27.5H12.5V25ZM3.75 23.125V20.625H6.25V23.125H3.75ZM6.25 27.5C4.875 27.5 3.75 26.375 3.75 25H6.25V27.5ZM10.625 27.5H8.125V25H10.625V27.5ZM16.875 27.5V25H19.375C19.375 26.375 18.25 27.5 16.875 27.5ZM6.25 7.5V10H3.75C3.75 8.625 4.875 7.5 6.25 7.5Z"
    fill="#525252"
  />
  <title>Copy</title>
</svg>
