<div class="select">
  <div class="select-text">Korean</div>
  <svg
    id="icon-expand"
    class="icon-func"
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
  >
    <mask
      id="mask0_89_190"
      style="mask-type: alpha"
      maskUnits="userSpaceOnUse"
      x="0"
      y="0"
      width="40"
      height="40"
    >
      <rect width="40" height="40" fill="#D9D9D9" />
    </mask>
    <g mask="url(#mask0_89_190)">
      <path
        d="M20 25.625L10 15.625L12.3333 13.2917L20 20.9584L27.6667 13.2917L30 15.625L20 25.625Z"
        fill="#525252"
      />
    </g>
  </svg>
</div>
