<div id="input-box">
  <form action="/translate" method="post">
  <div class="box-input-lang-select">
    <div class="input-lang-select">
      <%- include('icon-select') %>
      <svg
        id="icon-swap"
        class="icon-func"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
      >
        <path
          d="M9.32 14.6666L4 20L9.32 25.3333V21.3333H18.6667V18.6666H9.32V14.6666ZM28 12L22.68 6.66663V10.6666H13.3333V13.3333H22.68V17.3333L28 12Z"
          fill="#525252"
        />
        <title>Language Change</title>
      </svg>
    </div>
  </form>
  </div>
    <textarea
      id="input-box-textarea"
      class="box-text"
      type="text"
      placeholder="Please enter what you want to translate..."
      maxlength="2000"
    ></textarea>
    <p class="text-count">0/2000</p>
  </form>

  <div id="input-box-toolbar">
    <div class="tooltips">
      <%- include('icon-copy') %> <%- include('icon-history') %>
    </div>
    <button id="btn-translate">Translate</button>
  </div>
</div>
