<div id="input-box">
  <div class="box-input-lang-select">
    <div class="input-lang-select">
      <div class="select">
        <div class="select-text">Korean</div>
        <div>
          <img
            class="icon-expand"
            src="../public/styles/icons/expand_more.svg"
          />
        </div>
      </div>
      <img class="icon-swap" src="../public/styles/icons/icon-swap.svg" />
    </div>
  </div>
  <div class="box-text"></div>
  <div class="box-toolbar">
    <div class="tooltips">
      <img class="icon-copy" src="../public/styles/icons/icon-copy.svg" />
      <img class="icon-history" src="../public/styles/icons/history.svg" />
    </div>
  </div>
  <div></div>
</div>
