<div class="output-box-toggle-off">
  <div class="output-lang-select">
    <div class="language-tool-select">
      <div class="select">
        <div class="select-text">English</div>
        <div>
          <img
            class="icon-expand"
            src="../public/styles/icons/expand_more.svg"
          />
        </div>
        <div class="select">
          <div class="select-text">ChatGPT</div>
          <img
            class="icon-expand"
            src="../public/styles/icons/expand_more.svg"
          />
        </div>
      </div>
    </div>
    <img class="toggle" src="../public/styles/icons/toggle-off.svg" />
  </div>
</div>
